.git
.gitignore
.github
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.env
.env.backup
.env.production
.env.staging
.env.neon*
.env.*.test
npm-debug.log
yarn-error.log
.DS_Store
.idea
.vscode
.phpunit.cache
.phpunit.result.cache
/public/hot
/public/storage
frankenphp
/frankenphp
**/caddy
